html  {
    box-sizing: border-box;
}

*,
*::after,
*::before{
    box-sizing: inherit;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-image: url("https://norfipc.com/fotos/universo-celular/galaxia-andromeda-720px.jpeg");
    background-size: cover; 
    overflow: hidden;
    margin: 0;
}


body h1{
    color: rgb(253, 255, 251);
    font-size: 38px;
    margin-bottom: 0;
}
@media(max-width: 427px){
    body h1{
        color: rgb(253, 255, 251);
        font-size: 38px;
        margin-bottom: 40px;
    }
}


.clock-frame {
    width: 45%;
    min-width: 400px;
    max-width: 1200px;
    margin: auto;
    background-color: #ebebeb;
    border-radius: 15px;
    text-align: center;
}
@media(max-width: 427px){
    .clock-frame {
        width: 40%;
        min-width: 330px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
@media(max-width: 378px){
    .clock-frame {
        width: 37%;
        min-width: 310px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}


.time{
    background-color: black;
    width: 100%;
    border-radius: 10px;
    display: flex;
    color: wheat;
    justify-content: space-between;
    padding: 15px;
    border: 7px solid grey;
}
@media(max-width: 427px){
    .time{
        background-color: black;
        width: 100%;
        border-radius: 10px;
        display: flex;
        color: wheat;
        align-items: center;
        justify-content: space-between;
        padding: 15px;
        border: 7px solid grey;
    }
}

.digit{
    margin: 0;
    width: 12vh;
    font-family: "Revalia", cursive;
    font-size: 10vh;
    color: rgb(6, 198, 6);
}
@media(max-width: 427px){
    .digit{
        font-size: 6vh;
        color: rgb(240, 235, 227);
    }
}



body .by{
    font-size: 18px;
    color: rgb(246, 248, 245);
}
@media(max-width: 378px){
    body .by{
        margin-top: 210px;
        color: antiquewhite;
    }
}

